[submodule "vendor/upstream/declarative-postgres-migrate.rs"]
	path = vendor/upstream/declarative-postgres-migrate.rs
	url = https://github.com/declarative-migrations/declarative-postgres-migrate.rs.git
